<main>
  <h1>Github Profile Search</h1>

  <section>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Ex. leonardodimarchi" [(ngModel)]="nameToSearch" (keydown.enter)="search()">
      <button matSuffix mat-icon-button aria-label="Search" (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <div class="profile" *ngIf="showingProfile">
      <div class="profile--information">
        <h2>{{ showingProfile.name }}</h2>
        <img [src]="showingProfile.avatar_url"/>
        <p>Followers: {{ showingProfile.followers }}</p>
        <p>Repositories Count: {{ showingProfile.public_repos }}</p>
      </div>

      <div class="profile--repositories">
        <h2>Latest updates</h2>
        <a *ngFor="let repository of showingProfileRepositories" [href]="repository.html_url" target="_blank">
          {{ repository.name }}
        </a>
      </div>
    </div>
  </section>
</main>
