main{
  overflow: hidden;

  > h1 {
    text-align: center;
    margin-top: 3rem;
  }

  kbd {
    padding: 0.2rem;
    margin: 0 0.2rem;
    border: 1px solid gray;
    border-radius: 5px;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60vw;
    margin: auto;

    p {
      text-align: center;
    }

    .profile {
      display: grid;
      grid-template-columns: 1fr 1fr;

      &--information {
        text-align: center;

        img {
          width: 15rem;
          border-radius: 15px;

          cursor: pointer;
        }
      }

      &--repositories {
        text-align: center;

        a {
          display: block;
          font-size: 1.2rem;
          text-decoration: underline;
          color: black;

          cursor: pointer;

          width: fit-content;
          margin: 0.5rem auto;

          &:hover {
            color: darkgray;
          }
        }
      }
    }
  }
}

.spinner {
  margin: auto {
    top: 2rem;
  };
}
