main{
  overflow: hidden;

  h1 {
    text-align: center;
    margin-top: 3rem;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60vw;
    margin: auto;

    .input {
      button {
        background: none;
        border: 0;
        outline: 0;

        cursor: pointer;
        font-size: 1.2rem;
      }
    }

    .profile {
      display: grid;
      grid-template-columns: 1fr 1fr;

      &--information {
        text-align: center;

        img {
          width: 15rem;
          border-radius: 15px;
        }
      }

      &--repositories {
        text-align: center;

        a {
          display: block;
          font-size: 1.2rem;
          text-decoration: underline;
          color: black;

          cursor: pointer;

          width: fit-content;
          margin: 0.5rem auto;

          &:hover {
            color: darkgray;
          }
        }
      }
    }
  }
}
